.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  gap: 5px;
}

.icon {
  color: rgb(255, 204, 0);
  width: 35px;
  height: 35px;
  margin: 0;
  padding: 0;
}

.container:hover {
  background: rgba(173, 216, 255, 0.15);
  cursor: pointer;
}

.container:active {
  background: rgba(173, 216, 255, 0.1);
}

.text {
  margin: 0;
  padding: 0;

  color: white;
  text-align: center;

  text-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.9),
    1px -1px 0 rgba(0, 0, 0, 0.9),
    -1px 1px 0 rgba(0, 0, 0, 0.9),
    1px 1px 0 rgba(0, 0, 0, 0.9);
}
